*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url('./src/res/images/bg.jpg');
    background-size: cover;
}
.con{
    /*overflow:auto;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;*/
}
.blog{
}

#bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.instance{
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.instance .loading{
    width: 120px;
    height: 120px;
    border: 1px solid #ececec;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}